body {
		background-color: #cfcbbf;
		
}
.hello{
	height: 100%;
    width: 100%;
    max-width: auto;
}
#SignupContent {
		max-width: 900px;
		backgroud-color: white;
		border-radius: 4px;
}

@media screen and (max-width: 900px) {
		#SignupContent {
				height: 100%;
		}
	#materialToolbar {
		    padding: 10px;
	}
}